@import url("green_button.css");
body {
  background: #f6f6f7;
  font-size: 100%;
  background: url("../img/wavegrid.png"); }

.header {
  font-size: 0%;
  padding: 8% 0%;
  background: url("../img/header.png") no-repeat;
  background-size: 100%;
  margin: 2% 0 0 0; }

.nav_main {
  height: 60px;
  margin: 2% 0; }
  .nav_main .main_nav_buttons {
    padding: 12px 0px;
    border: 1px solid #333;
    box-shadow: 0 1px 0 #555 inset, 0 -1px 0 #555 inset;
    background-color: #545555;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#545555), to(#282929));
    background-image: -webkit-linear-gradient(top, #545555, #282929);
    background-image: -moz-linear-gradient(top, #545555, #282929);
    background-image: -o-linear-gradient(top, #545555, #282929);
    background-image: -ms-linear-gradient(top, #545555, #282929);
    background-image: linear-gradient(top, #545555, #282929);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#545555', EndColorStr='#282929');
    color: #ccc;
    text-align: center;
    font-size: 170%;
    font-family: "Scada", sans-serif; }

.welcome_info {
  padding: 10px;
  font-size: 120%;
  text-align: center;
  margin: 30px 0; }

.nav {
  height: 40px;
  margin: 20px 0; }
  .nav .nav_buttons {
    padding: 12px 0px;
    text-align: center;
    font-size: 90%;
    font-family: "Scada", sans-serif; }

.teachings .teaching {
  margin: 10px 0; }
  .teachings .teaching .teaching_overlay {
    opacity: 0;
    display: none; }

#teaching-display .teaching_display_image {
  float: left;
  width: 40%;
  padding: 10px 0; }
#teaching-display .teaching_display {
  float: left;
  width: 60%;
  padding: 10px 10px 10px 0px; }
  #teaching-display .teaching_display .teaching_player {
    width: 100%;
    height: 140px;
    margin: 0 0 10px 0px;
    background: #ccc; }
  #teaching-display .teaching_display .teaching_title {
    width: 97%;
    height: 40px;
    margin: 10px;
    background: #999; }
  #teaching-display .teaching_display .teaching_description {
    width: 98%;
    height: 40px;
    margin: 10px;
    background: #555; }
  #teaching-display .teaching_display .teaching_share {
    width: 98%;
    height: 60px;
    margin: 10px;
    background: #333; }

.hh1 {
  font-family: "Kite One", sans-serif;
  font-size: 140%; }

.hh2 {
  font-family: "Scada", sans-serif;
  font-size: 120%; }

.footer {
  background: #555;
  height: 220px; }
  .footer h1 {
    text-align: center;
    padding: 30px; }
